/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/* 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* Fargepallet - kodet av Tiril */
:root {
    /* LIGHT MODE */
    /* Main colors */
    --mainLightBackground: #f0fff0;
    --mainOrange: #fb5607;
    --dropMenu: #808080;
    --textWhite: #ffffff;
    --mainBlack: #222222;
    --footer: #333333;
    /* Produkt oversikt */
    --cardBackground: #f2f2f2;
    /* Produkt side */
    --boxBackground: #d4d4d4;
    --buttonShadow: 0 10px 20px -8px #000000;
  }

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .features {
        flex-wrap: wrap;
    }

    .feature {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 992px) {
    .features {
        flex-wrap: wrap;
    }

    .feature {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
    .titleHeader {
        font-size: 1.5rem;
    }

    .intro .h2About {
        font-size: 1.2rem;
    }

    .feature .h3About {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .buttonAbout {
        font-size: 0.9rem;
    }
}