.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .image-container img {
    width: 100%;
    display: none;
  }
  
  .image-container img.active {
    display: block;
  }
  
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #555;
  }
  