/* Media queria til telefon */

/* mobile phones */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {

  .imgSplash {
    height: 50vh;
    width: 110vw;
    margin-right: -35px;
  }

  
  .footer-btns {
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 375px;
  }
  
  .footer-btn {
    margin-top: 20px;
  }

  
  
  .header-btns {
     flex-direction: column;
  }
  
  .header-icon {
    margin-right: 5px;
  }
  
  .circle {
    display: none;
  }
  
  .leftImg {
    height: 50vh;
    width: 108vw;
    margin-left: 5%;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

    
    /* Media queria til Taplet */
    
    @media only screen
and (min-device-width : 481px) 
and (max-device-width : 768px){
      .leftImg {
        height: 340px;
        width: 350px;
        margin-left: 5%;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
    
      .imgSplash {
        width: 96vw;
        height: 50vh;
        margin-right: -35px;
      }
  
      .logoHeader {
        margin-right: 10px;
      }
  
      .circle {
        margin-right: 10px;
      }
  
      .search-box {
        margin-right: 10px;
      }
    
      .shoppingCartButton {
        margin-right: 160px;
      }
    
  } 
  
/* Skal vi ha til laptop og til større skjermer?

  /* Media queria til Laptop */
  
  @media only screen and (min-device-width : 769px) 
  and (max-device-width : 1024px){
  
    .imgSplash {
      width: 97vw;
      height: 50vh; 
    }
  
    .leftImg {
      height: 340px;
      width: 350px;
      margin-left: 660px;
    }
    
  }
  

  /* Media queria til støre Laptop */

 @media only screen and (min-device-width : 1025px) 
 and (max-device-width : 1200px) {
  
    .imgSplash {
      width: 97vw;
      height: 50vh; 
    }
  
    .leftImg {
      height: 340px;
      width: 350px;
      margin-left: 1070px;
    }
    
  }
  
  @media only screen and (min-device-width : 1201px) 
  and (max-device-width : 1440px) {
   
     .imgSplash {
       width: 97vw;
       height: 50vh; 
     }
   
     .leftImg {
       height: 340px;
       width: 350px;
       margin-left: 1070px;
     }
     
   } 
  
  /* HAMBURGER MENY */
  @media screen and (max-width: 600px) {
  .hamburgerMeny {
    display: block;
  }
  
  .header-btns {
    display: none;
  }
  }