/* Fargepallet - kodet av Tiril */
:root {
    /* LIGHT MODE */
    /* Main colors */
    --mainLightBackground: #f0fff0;
    --mainOrange: #fb5607;
    --dropMenu: #808080;
    --textWhite: #ffffff;
    --mainBlack: #222222;
    --footer: #333333;
    /* Produkt oversikt */
    --cardBackground: #f2f2f2;
    /* Produkt side */
    --boxBackground: #d4d4d4;
    --buttonShadow: 0 10px 20px -8px #000000;
  }


body {
    margin: 0;
    min-height: 100vh;
}

main {
    margin-top: 80px;
    margin-bottom: 40px;
}

/*FIX THE BLOODY GRID SO IT WORKS*/

.divProductCards {
    display: flexbox;
    width: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    margin: 10px;
    column-gap: 20px;
    row-gap: 10px;
}

.productCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} 

.contentPosition {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px; 
    text-align: center; 
    background: #f2f2f2;
    cursor: pointer;

}