/* Button */

/*
.btn {
    border-radius: 25px;
    background-color: #fb5607;
    border: none;
    color: white;
    text-align: center;
    font-size: 26px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 7);
    margin-left: 44%;
}

.btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn:after {
    content: ">>";
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.btn:hover {
   padding-right: 24px;
   padding-left: 8px;
}

.btn:hover:after {
    opacity: 1;
    right: 10px;
}

@media (max-width: 600px) {
    .btn {
        margin-left: 20%;
    }
  
  }
  */