body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}