/* Slide text animasjon */

.anim-1,
.anim-2,
.anim-3 {
    position: absolute;
    display: block;
    top: 12.5em;
    width: 20%;
    font-size: 20px;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
    color: black;
    font-style: italic;
    font-weight: bold;
}


.anim-1 {
    animation-name: anim-1-keyframes;
    text-shadow: 0 0px 5px #FFF, 0 2px 10px #ff0, 0 10px 20px #ff8000, 0 18px 40px #F00;
}

.anim-2 {
    animation-name: anim-2-keyframes;
    text-shadow: 0 0px 5px #FFF, 0 2px 10px #ff0, 0 10px 20px #ff8000, 0 18px 40px #F00;
}

.anim-3 {
    animation-name: anim-3-keyframes;
    text-shadow: 0 0px 5px #FFF, 0 2px 10px #ff0, 0 10px 20px #ff8000, 0 18px 40px #F00;
}

@keyframes anim-1-keyframes {
    0%, 8.3% { left: -100%; opacity: 1; }
    8.3%, 25% { left: 5%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 1; }
}

@keyframes anim-2-keyframes {
    0%, 33.33% { left: -100%; opacity: 1; }
    41.63%, 58.29% { left: 5%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 1; }
}

@keyframes anim-3-keyframes {
    0%, 66.66% { left: -100%; opacity: 1; }
    74.96%, 91.62% { left: 5%; opacity: 1; }
    100% { left: 110%; opacity: 1; }
}


@media (max-width: 426px) {

.anim-1,
.anim-2,
.anim-3 {
  font-size: 20px;
  width: 50%;
  top: 18.5em;
  position: absolute;
  color: black;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
}