/*body {
    margin: 0;
    max-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: honeydew;
}



.main_title {
  font-size: 30px;
  text-align: left;

  border-bottom: 3px solid #fb5607;
  padding-left: 15px;
}

.img {
  background-repeat: no-repeat;
  background-position: right;
  margin-top: -18px;
 

  width: 1550px;
  height: 520px; 
  margin-left: 15px;
}




h1 {
    padding-top: 20px;
    font-style: italic;
    font-weight: lighter;
    padding-left: 15px;
    text-align: center;
}

h3 {
  font-style: italic;
  font-weight: bold;
  padding-left: 15px;
  text-align: center;
}

p {
  font-style: italic;
  padding-left: 15px;
  text-align: center;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fb5607;
  color: #fff;
}

.header-btn {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header-btn:hover {
  color: #941b0c;
}

.header-icon {
  margin-right: 10px;
}

.center-icon {
  flex-grow: 1;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  color: #FFFFFF;

  font-size: 25px;
}

.header-icon img,
.center-icon img {
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
}



.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fb5607;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-btns:hover .dropdown-content {
  display: none;
}

.header-btns:hover .dropdown:hover .dropdown-content {
  display: block;
}
  


.mode-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  transition: margin-left 0.3s;
}

.circle {
  width: 35px;
  height: 35px;
  background-color: #555;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dark-mode .circle {
  background-color: #fff;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}



footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
}

.footer-btns {
  display: flex;
}

.footer-btn {
  text-decoration: none;
  color: #fff;
  margin-right: 55px;
} 



@media (max-width: 600px) {

  .img {
    width: 350px;
    height: 300px;
  }
  
  .footer-btns {
    display: flex;
    flex-direction: column;
  }

  .footer-btn {
    margin-top: 20px;
  }

  .header-btns {
     flex-direction: column;
  }

  .center-icon {
    margin-right: 30px;
  }
  
  .circle {
    display: none;
  }

}



@media screen and (max-width: 600px) {
  .hamburgerMeny {
    display: block;
  }

  .header-btns {
    display: none;
  }
}

.hamburgerMeny {
  display: none;
  max-height: 150px;
} */