/* Kodet av Tiril */

:root {
    --textPrize: #fb5607;
    --buttonColor: #fb5607;
    --textWhite: #ffffff;
    --buttonShadow: 0 10px 20px -8px #000000;
    --boxBackground: #d4d4d4;
    --mainLightBackground: #f0fff0;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--mainLightBackground);
}

/* Rundt bilde og informasjon om produktet */
.sectionProduct {
    font-size: 1.25em;
    display: flex;
    padding-top: 100px;
    width: 100%;
    align-items: center;
    padding-bottom: 50px;
    
}
.test {
  font-style: italic;
  font-size: medium; 
}


/* Div rundt bilde */
.imageDiv {
    height: 10%;
    width: 50%;    
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

/* Slideshow med bilder */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

/* Buttons piler */
   .next, .prev {
    cursor: pointer;
    background: var(--boxBackground);
    border-radius: 5px;
    padding: 5px;
}
   
   .mySlides {
    display: none;
    width: 100%;
    padding: 50px;
    text-align: center;
    padding-right: 0px;
}

   /* Produkt bilde */
   .mySlides img {
    width: 100%;
    height: auto;
}

/* Overgang når du bytter bilde */
   .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
   
   @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
   
   @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*div med den viktigaste informasjonen om produktet */
.informationDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    margin-left: 50px;
}

/* Overskriften til produktet */
.headProduct {
    font-weight: bold;
    margin-bottom: 20px;
}

/* Spesifikasjoner på produktet */
.specs {
    margin: 0;
}

/* stk tekst */
.stk {
    padding: 0;
}

/* Pris tekst */
.nok {
    color: var(--textPrize);
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

/* inntastings felt antall */
.inputText {
    width: 40px;
    text-align: center;
}

/* Handlevogn knapp */
.addToCartBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    margin-left: 10px;
    background-color: var(--buttonColor);
    border: none;
    color: var(--textWhite);
    font-size: 19px;
    padding: 16px;
    width: 230px;
    height: 50px;
    cursor: pointer;
    box-shadow: var(--buttonShadow); 
}

/* div som har form og knapp */
.formAndButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Meir informasjon om produktet */
.moreInformation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.moreText {
    font-weight: 500;
}

/* Section Relaterte produkter */
.sectionRelatedProducts {
    padding-top: 100px;
    margin-left: 20px;
}

.headerRelated {
    font-weight: 500;
}

/* kort og bilder til relaterte produkter */

.frame {
    
    padding-top: 20px;
    width: auto;
    gap: 20px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.responsive {
    float: left;
    width: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 30px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: var(--boxBackground);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 7); 
}

/* Beveger på kortene */
.gallery:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); 
    transform: translate(0px, -8px); 
}

.relatedImg {
    width: 300px;
    height: 250px;
    border-radius: 5px ;
}

/* Tekst under bilde*/
.description {
    
    display: flex;
    flex-direction: column;
    align-items: center
}

.textRelated {
    font-size: 20px;
}

.relatedNok {
    color: var(--textPrize);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
* {
    box-sizing: border-box;
}
  


/* Media queries */

@media (max-width: 770px) {
    .frame {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }    
}


@media (max-width: 426px) {
    .frame {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
   
    } 

    .sectionProduct {
        flex-direction: column;
    } 

    .responsive {
        margin-left: 0.9375em;
    }
    .imageDiv {
        width: 100%;
    }
    .nok {
        font-size: 27px;
    }
}

