/*css kodet av Øystein*/
/* Endring av teksten, NØD*/
h1 {
    padding-top: 50px;
    padding-bottom: 15px;
    font-style: italic;
    font-weight: lighter;
    padding-left: 15px;
}

h3 {
  font-style: italic;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15px;
}

p {
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
}
b {
  padding-left: 15px;
  padding-bottom: 15px;
}

/* Endring a bilder */
/*ØYSTEIN*/
.img {
  width: 5 px;
  height: 5 px;
  padding-left: 15px;
}

.split {
  display: flex;
  flex-direction: row;
  gap: 250px;
}

