/*css kodet av Øystein*/
/* Endring av teksten, NØD*/
.h1SS {
    padding-top: 50px;
    padding-bottom: 15px;
    font-style: italic;
    font-weight: lighter;
    padding-left: 15px;
}

.h3SS {
  font-style: italic;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15px;
}

.pSS {
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
}
.bSS {
  padding-left: 15px;
  padding-bottom: 15px;
}

/* Endring a bilder */
.imgSS {
    margin-top: 30px;
    /* width: 5 px;
    height: 5 px; */
    padding-left: 15px;
}

.imgOneSS {
  display: none;
}

.imgTwoSS {
    max-width: 80%;
    height: 180px;
    padding-left: 15px;
    margin-top: 40px;
  }

  /*inskuddskode fra Polly*/
  .textInfo {
    margin-left:35px;
    width:85%;
    margin-top: 40px;
  }

  .postionImgText {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.ssPrices {
    margin-right: 300px;
    /*I cheat, this needs to be fixed properly, but as a temporary fix it works*/
}

.contact {
    margin-bottom: 40px;
    margin-left: 35px;
}

/* .split {
  display: flex;
  flex-direction: row;
  gap: 250px;
} */

@media (max-width: 600px) {
  .circle {
    display: none;
  }
  
  .bSS {
    margin-top: 15px;
  }

  .contact {
    margin-top: 15px;
  }

  .imgOneSS {
    height: 340px;
    width: 350px;
  }

  .imgTwoSS {
    display: none;
  }

  .footer-btns {
    display: flex;
    flex-direction: column;
  }

  .footer-btn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header-btns {
    display: none;
  }
}