/*css for SikkerSletting siden -  kodet av Øystein*/
/* Endring av teksten, NØD (?)*/

/* Fargepallet - kodet av Tiril */
:root {
  /* LIGHT MODE */
  /* Main colors */
  --mainLightBackground: #f0fff0;
  --mainOrange: #fb5607;
  --dropMenu: #808080;
  --textWhite: #ffffff;
  --mainBlack: #222222;
  --footer: #333333;
  /* Produkt oversikt */
  --cardBackground: #f2f2f2;
  /* Produkt side */
  --boxBackground: #d4d4d4;
  --buttonShadow: 0 10px 20px -8px #000000;
}

/*Kode for CustomerPosition av Tony*/
.dark-mode .positionArrow {
  margin-top: 70px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.customerPosition {
  margin-left: 20px;
  margin-top: 10px;
}
.positionArrow {
  margin-top: 70px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.h1SS {
    padding-top: 50px;
    padding-bottom: 15px;
    font-style: italic;
    font-weight: lighter;
    padding-left: 15px;
}

.h3SS {
  font-style: italic;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15px;
}

.pSS {
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
}
.bSS {
  padding-left: 15px;
  padding-bottom: 15px;
}

/* Endring a bilder */
.imgSS {
    margin-top: 30px;
    /* width: 5 px;
    height: 5 px; */
    padding-left: 15px;
}

.imgTwoSS {
    max-width: 80%;
    height: 180px;
    padding-left: 15px;
    margin-top: 40px;
  }

  /*inskuddskode fra Polly*/
  .textInfo {
    margin-left:35px;
    width:85%;
    margin-top: 40px;
  }
  .textInfoTwo {
    margin-left:35px;
    width:85%;
    margin-top: 40px;
  }

  .postionImgText {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.ssPricesSection {
  margin-left:35px;
  width:85%;
  margin-top: 40px;
  color: #222222;
  font-weight: bolder;
}

.ssPrices {
  display: flex;
  justify-content:space-between;
  align-items: start;
  width: 50%;
}

.pSSSmall {
  font-size: small;
  margin: 1rem auto;
}

.pSSShip {
  margin: 2rem auto;
}
.contact {
    margin-bottom: 40px;
    margin-left: 35px;
}

/* .split {
  display: flex;
  flex-direction: row;
  gap: 250px;
} */