/*css for SikkerSletting siden -  kodet av Øystein*/
/* Endring av teksten, NØD (?)*/

/* Fargepallet - kodet av Tiril */
:root {
  /* LIGHT MODE */
  /* Main colors */
  --mainLightBackground: #f0fff0;
  --mainOrange: #fb5607;
  --dropMenu: #808080;
  --textWhite: #ffffff;
  --mainBlack: #222222;
  --footer: #333333;
  /* Produkt oversikt */
  --cardBackground: #f2f2f2;
  /* Produkt side */
  --boxBackground: #d4d4d4;
  --buttonShadow: 0 10px 20px -8px #000000;
}

.h1SS {
    padding-top: 50px;
    padding-bottom: 15px;
    font-style: italic;
    font-weight: lighter;
    padding-left: 15px;
}

.h3SS {
  font-style: italic;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15px;
}

.pSS {
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
}
.bSS {
  padding-left: 15px;
  padding-bottom: 15px;
}

/* Endring a bilder */
.imgSS {
    margin-top: 30px;
    /* width: 5 px;
    height: 5 px; */
    padding-left: 15px;
}

.imgTwoSS {
    max-width: 80%;
    height: 180px;
    padding-left: 15px;
    margin-top: 40px;
  }

  /*inskuddskode fra Polly*/
  .textInfo {
    margin-left:35px;
    width:85%;
    margin-top: 40px;
  }

  .postionImgText {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.ssPrices {
    margin-right: 300px;
    /*I cheat, this needs to be fixed properly, but as a temporary fix it works*/
}

.contact {
    margin-bottom: 40px;
    margin-left: 35px;
}

/* .split {
  display: flex;
  flex-direction: row;
  gap: 250px;
} */

/* Media queries, NØD */
/* Mobil */
@media (max-width: 600px) {
  .header-icon {
    margin-right: 5px;
  }
  
  .logoHeader {
    margin-left: 5%;
  }

  .circle {
    display: none;
  }

  nav {
    width: 400px;
  }

  footer {
    width: 100vw;
  }

  .footer-btns {
    display: flex;
    flex-direction: column;
  }

  .footer-btn {
    margin-top: 20px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .logoHeader {
    display: flex;
    justify-content: center;
  }

  .circle {
    margin-right: 10px;
  }

  .search-box {
    margin-right: 10px;
  }

  .shoppingCartButton {
    display: flex;
    justify-content: right;
  }

  footer {
    width: 100vw;
  }
}