/*Kodet av Tony*/

/*BODY kode fra Amalie sin css*/
body {
    margin: 0;
    max-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: honeydew;
}

/*Kode fra Amalie sin css*/
/* FOOTER og HEADER */

/* HEADER */
.navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fb5607;
    color: #fff;
  }
  
  .header-btn {
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .header-btn:hover {
    color: #941b0c;
  }
  
  .header-icon {
    margin-right: 10px;
  }
  
  .center-icon {
    flex-grow: 1;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
  
    font-size: 25px;
  }
  
  .header-icon img,
  .center-icon img {
    width: 100px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fb5607;
  }
  
  /* DROPDOWN */
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fb5607;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .header-btns:hover .dropdown-content {
    display: none;
  }
  
  .header-btns:hover .dropdown:hover .dropdown-content {
    display: block;
  }
    
  /* LIGHT - DARK MODE */
  .mode-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    transition: margin-left 0.3s;
  }
  
  .circle {
    width: 35px;
    height: 35px;
    background-color: #555;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .dark-mode .circle {
    background-color: #fff;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }

/*HANDLEKURV MAINSTYLE - kodet av Tony*/

@media only screen and (max-width: 426px) {
  .content {
    width: 200px;
  }
  .shopItemsHeader {
    flex-direction: column;
    padding-left: 65%;
  }
  .shopItemsDiv {
    gap: 25%;
  }
  .shopItemsAPDDiv {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .shopItemsPriceText {
    padding: 0;
  }
  .buttonPayDiv {
    flex-direction:column-reverse
  }
  .buttonPayPriceDiv {
    margin: 5%;
  }
}

@media only screen and (min-width: 427px) {
  .content {
    width: 100%;

  }
  .shopItemsHeader {
    flex-direction: column;
    padding-left: 63%;
  }
  
  .shopItemsAPDDiv {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .buttonPayDiv {
    flex-direction:column-reverse;
  }
  .buttonPayPriceDiv {
    margin: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  .shopItemsHeader {
    flex-direction: row;
    justify-content: space-around;
  }
  .headerPriceDiv {
    padding-right: 7%;
    padding-left: 7%;
  }
  .headerDeleteDiv {
    padding-right: 5%;
    
  }
  .shopItemsAPDDiv {
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
  }
  .buttonPayDiv {
    flex-direction:row;
  }
}


.positionArrow {
  margin-top: 70px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.cartText {
  border-bottom: 1px solid #555;
  display: flex;
  text-align: center;
}

  .shopItemsHeaderWrapperLeft {
    justify-content: flex-start;
    width: 70%;
  }


.shopItemsHeader {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  border-bottom: 1px solid #555;
  gap: 5%;
  padding-right: 5%;
}



.shopItemsDiv {
  justify-content: space-around;
  display: flex;
  border-bottom: 1px solid #555;
  box-sizing: border-box;
}
.shopItemsAPDDiv {
  display: flex;
  padding-top: 10%;
  gap: 18%;
  padding-right: 1%;
} 

.amountDiv {

  }
  .amountInput{
    text-align: center;
    width: 70px;
  }
  .deleteDiv {
    box-sizing: border-box;
    margin-top: -8%;
    
  }
  .deleteButton {
    border-radius: 100%;
    padding: 10px 20px;
    
  }

  
.buttonPayDiv {
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.buttonPayThankYou {
  background-color: rgba(30, 198, 30, 0.803);
  line-height: 3rem;
  margin: 10% 5%;
  padding: 5% 10%;
  text-align: center;
  border-radius: 20px;
}

.buttonPayBtnDiv {
  margin-left: 5%;
}
.buttonPayBtn {
 font-size: 0.9rem;
 font-weight: bolder;
}


  
/*FOOTER*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    margin-top: 90%;
  }
  
  .footer-btns {
    display: flex;
  }
  
  .footer-btn {
    text-decoration: none;
    color: #fff;
    margin-right: 55px;
  } 

 
  /*Kode lånt av Sandra*/
  
/* Styling for the product gallery section */
.gallery {
  width: 30%; /* Set width for each gallery section */
  margin-bottom: 20px; /* Add margin at the bottom of each gallery section */
  margin-left: 5%;
}

/* Styling for the content of each product card */
.content {
  border: 1px solid #ddd; /* Border styling */
  padding: 10px; /* Padding for content */
  text-align: center; /* Center-align text */
}

/* Responsive styling for images inside product cards */
img {
  max-width: 100%; /* Set maximum width for images */
  height: auto; /* Allow images to scale proportionally */
}

/* Additional styling for product content */
.content {
  flex: 0 0 20%; /* Set flex properties for responsiveness */
  margin: 15px; /* Margin around content */
  box-sizing: border-box; /* Include border and padding in element's total width and height */
  text-align: center; /* Center-align text */
  border-radius: 20px; /* Add border-radius for rounded corners */
  cursor: pointer; /* Change cursor on hover */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); /* Box shadow for a subtle elevation effect */
  transition: .4s; /* Add transition effect */
  background: #f2f2f2; /* Background color */
}

/* Hover effect for product content */
.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* Adjust box shadow on hover */
  transform: translate(0px, -8px); /* Move content slightly upward on hover */
}

/* Styling for images inside product cards */
img {
  width: 200px; /* Set width for images */
  height: 200px; /* Set height for images */
  text-align: center; /* Center-align text */
  margin: 0 auto; /* Center-align images horizontally */
}

/* Styling for paragraphs inside product cards */
p {
  text-align: center; /* Center-align text */
  color: #b2bec3; /* Set text color */
  padding-top: 8px; /* Add padding at the top */
}

/* Styling for product prices */
h5 {
  font-size: 26px; /* Set font size */
  text-align: center; /* Center-align text */
  color: #222f3e; /* Set text color */
  margin: 0; /* Remove margin */
}

/* Styling for buttons inside product cards */
button {
  text-align: center; /* Center-align text */
  font-size: 24px; /* Set font size */
  background-color: rgb(229, 229, 229);
  color: #222; /* Set text color */
  width: 100%; /* Set button width to 100% */
  padding: 15px; /* Add padding */
  border: 0; /* Remove border */
  outline: none; /* Remove outline */
  cursor: pointer; /* Change cursor on hover */
  margin-top: 5px; /* Add margin at the top */
  border-bottom-right-radius: 20px; /* Add border-radius for rounded corners */
  border-bottom-left-radius: 20px; /* Add border-radius for rounded corners */
}

