/*Kodet av Tony*/

BODY kode fra Amalie sin css
body {
    margin: 0;
    max-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: honeydew;
}

/*HANDLEKURV MAINSTYLE - kodet av Tony*/

.positionArrow {
  margin-top: 70px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.cartText {
  border-bottom: 1px solid #555;
  display: flex;
  text-align: center;
}

  .shopItemsHeaderWrapperLeft {
    justify-content: flex-start;
    width: 70%;
  }


.shopItemsHeader {
  box-sizing: border-box;
  display: flex;
  text-align: center;
}
.headerAmountDiv {
  text-align: left;
  margin-right: 5%;
}
.headerPriceDiv {
    text-align: left;
    margin-right: 5%;
  }

.shopItemsHeader {
  border-bottom: 1px solid #555;
}

.shopItemsDiv {
  width: 95vw;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #555;
  box-sizing: border-box;
}

/*låner css fra Sandra sin kode for å se om det virker*/
/* Styling for the product gallery section */
.gallery {
  margin-top: 70px;
  margin-left: 30px;
  width: 30%; /* Set width for each gallery section */
  margin-bottom: 20px; /* Add margin at the bottom of each gallery section */
}

/* Styling for the content of each product card */
.content {
  border: 1px solid #ddd; /* Border styling */
  border-radius: 15px;
  padding: 10px; /* Padding for content */
  text-align: center; /* Center-align text */
  box-shadow: 5px 5px 10px #333333;
}

/* Responsive styling for images inside product cards */
.imgContent {
  max-width: 100%; /* Set maximum width for images */
  height: auto; /* Allow images to scale proportionally */
}

/*inskudd kode fra Polly*/
/* .gallery {
  width:50%;
}

.content {
  width: 50%;
}
.imgContent {
  width: 0vw;
} */

/*Tilbake til Tony sin kode*/

.buttonPayDiv {
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.buttonPayThankYou {
  background-color: rgba(30, 198, 30, 0.803);
  line-height: 3rem;
  margin: 10% 5%;
  padding: 5% 10%;
  text-align: center;
  border-radius: 20px;
}

.buttonPayBtnDiv {
  margin-left: 5%;
}
.buttonPayBtn {
 font-size: 0.9rem;
 font-weight: bolder;
}

 .amountDiv {
    margin-left: 41%;
    margin-right: 2%;
  }
  .amountInput{
    text-align: center;
    width: 70px;
  }
  .deleteDiv {
    margin-left: 5%;
  }
  .deleteButton {
    border-radius: 100%;
    padding: 10px 20px;
  }