.Location{
    margin-right: 10px;
    margin-left: 980px;
    margin-bottom: -180px;
    margin-top: -100px;
}

.logo{
    height: 15%;
    width: 15%;
    margin-right: 400px;
    margin-left: 100px;
    margin-top: -200px;
}

.centered-text{
    text-align: center;
    margin: 0;
    margin-top: 100px;
    font-weight: bold;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
  -ms-flex-direction: column;
}

.containerr{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Adjust height as needed */
  font-weight: bold;
  font-family: Arial, sans-serif;
}