@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
}

.titleHeader {
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 1rem;
}

.titleHeader h1 {
    color: #fb5607;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0px 5px #FFF, 0 2px 10px #414833, 0 10px 20px #ff8000, 0 18px 50px #F00;
    font-weight: bolder;
    
}

.intro {
    margin:20px;
    padding: 2rem;
    background-color: #f2f2f2;
    gap: 20px;
}

.intro h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    gap: 20px;
}

.opnH {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    list-style: none;
}

.listOpnH {
    list-style: none;
}

.genInfo {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.olOM {
    margin-left: 40px;
}

.features {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.feature {
    flex-basis: 30%;
    background-color: #f2f2f2;
    padding: 1.5rem;
    text-align: center;
}

.feature i {
    font-size: 4rem;
    color: #f18410;
    margin-bottom: 1rem;
}

.feature h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.feature p {
    line-height: 1.5;
}

.img{
    width: 50px;
    height: 50px;
}

.img2{
    width: 80px;
    height: 50px;
}

.button{
    background-color: #fb5607;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    width: 100px;
    height: 50px;
}

.button:hover{
    background-color: #e6513b;
    
}