@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
}

.titleHeader {
    background-color: #f18410;
    padding: 1rem;
}

.titleHeader h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.intro {
    padding: 2rem;
    background-color: #f2f2f2;
}

.intro h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.feature {
    flex-basis: 30%;
    background-color: #f2f2f2;
    padding: 1.5rem;
    text-align: center;
}

.feature i {
    font-size: 4rem;
    color: #f18410;
    margin-bottom: 1rem;
}

.feature h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.feature p {
    line-height: 1.5;
}

.img{
    width: 50px;
    height: 50px;
}

.img2{
    width: 80px;
    height: 50px;
}

.button{
    background-color: #ff6347;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.button:hover{
    background-color: #e6513b;
    
}