@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/*Styling kode av Trym og Amalie*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* La til kode for 책 f책 DarkMode til 책 fungere skikkelig p책 siden. -Tony */

.dark-mode .feature {
    background-color: #313131;
    margin-right: 25px;
}

.dark-mode .intro  {
    background-color: #313131;
}

/*Videre styling er kodet av Amalie og Trym*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
}

.titleHeader {
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 1rem;
}

.titleHeader h1 {
    color: #fb5607;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0px 5px #FFF, 0 2px 10px #414833, 0 10px 20px #ff8000, 0 18px 50px #F00;
    font-weight: bolder;
    
}

.intro {
    margin:20px;
    padding: 2rem;
    background-color: #f2f2f2;
    gap: 20px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.h2About {
   margin-left: 30px;
} 

.h4About {
    margin-right: 67px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro .h2About {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    gap: 20px;
    
}

.opnH {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    list-style: none;
}

.listOpnH {
    list-style: none;
    margin-left: 30px;
}



.openT {
    margin-left: 30px;
}

.genInfo {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-left: 40px;
}

.olOM {
    margin-left: 40px;
    list-style: none;
}



.features {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.feature {
    flex-basis: 30%;
    background-color: #b3af8f;
    padding: 1.5rem;
    text-align: center;
    /* margin-right: 25px; */
}

.feature i {
    font-size: 4rem;
    color: #f18410;
    margin-bottom: 1rem;
}

.feature .h3About {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.feature p {
    line-height: 1.5;
}

.payImg {
    list-style: none;
    padding: 2.5em;

}

.imgVisa{
    width: 65px;
    height: 50px;
    box-shadow: 1px 1px 10px #b3af8f;
}

.imgVipps{
    margin-bottom: 1em;
    width: 80px;
    height: 50px;
}

.buttonAbout{
    background-color: #ff6347;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin-right: 15px;
    width: 170px;
    border-radius: 25px;
    font-size: 20px;
}

.buttonAbout:hover{
    animation: pulse 1s infinite;
  transition: .3s;
  background-color: #fb5607;;
    
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }

.buttonCenter {
    align-items: center;
    margin-left: 35%;
}