<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billig kroken</title>
</head>
<body>
    <!-- Her skal vi gjøre det mulig å dytte opp alle produkter som er på tilbud 
        eller som oftest er billigere enn resten av produktene. Vi kan få liste av Rune? 
    Så her blir det altså litt lignende som productList/searchPage, men den er satt opp for spesifikke produkter med lav pris.-->


    <!-- Skal dette bare være en typisk searvh page??-->
</body>
</html>