<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <main>
        <!--Tony sin kode -->
        <!-- HANDLEKURV MAIN -->
        <!-- Den lille teksten under header som forteller kunden hvor de er -->
        <section class="customerPosition">
          <h2 class="positionText">Du er her: <a href="/index.html">Forside</a> <i id="realTimePosition" class="positionArrow"></i></h2>
        </section>
    </main>
</body>
</html>