§<!DOCTYPE html>
<html lang="nn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/css/handlekurv.css"/>
    <title>Document</title>
</head>

<body class="bodyKurv">
    <main>
        <!--Tony sin kode -->
        <!-- HANDLEKURV MAIN -->

        <!-- visning av elementene i handlekurven -->
        <section class="shopItems">
        <div class="cartHeader">
            <h1 class="cartText">Handlekurv</h1>
        </div>

        <div class="shopItemsHeader">
            <div class="shopItemsHeaderWrapperLeft"></div>
            <div class="headerAmountDiv">
            <h3 class="amountText">Antall</h3>
            </div>
            <div class="headerPriceDiv">
            <h3 class="priceText">Pris</h3>
            </div>
            <div class="headerDeleteDiv">
            <h3 deleteText>Slett</h3>
            </div>
        </div>

        <div class="shopItemsDiv">

                <!-- Kode lånt av Sandra -->
            <!-- Product card for HP ProBook 650 -->
            <section class="gallery">
            <!-- Additional elements and content specific to the article -->
            <article class="content">
                <img class="imgContent" src="Book_650_Placeholder.webp" alt="HP ProBook 650">
                <h3>HP ProBook 650</h3>
                <p>HP ProBook 650 G2 8 GB Ram SSD</p>
                <h5>kr 1,950.00</h5>
                <button class="show_more">Vis</button>
            </article>
        </section>
        <!-- Slutt av lånt kode -->

            <div class="amountDiv">

            <input type="number" placeholder="1" class="amountInput">
            </div>

            <div class="priceDiv">
            <h3>1,950.00</h3>
            </div>
            <div class="deleteDiv">
            <button class="deleteButton">X</button>
            </div>
        </div>
        </section>

        <!-- KNAPPER OG BETALING -->
        <section class="buttonPay">

        <div class="buttonPayDiv">

            <div class="buttonPayThankYou">
            <h3>Takk for din Handel!</h3>
            <h3>Hilsen fra butikken Placeholder</h3>
            <a href="/Star/indexStar.html" class="buttonPayLink"> Ønsker du å gi oss en tilbakemelding?</a>
            </div>
            <div class="buttonPayPriceDiv">
            <h3 class="buttonPayPrice">Total pris: 1,950.00</h3>
            </div>
            <div class="buttonPayBtnDiv">
            <button class="buttonPayBtn">Gå videre til betaling</button>
            </div>
        </div>

        </section>
    </main>
</body>