<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gløde Data</title>
    <!-- Sett opp styling, hent kode fra styleMeny og styleLP -->
</head>
<body>
    <main>
        <section class="landingMain">
            <!--Main title-->
            <!--Kodet av Sandra og Amalie-->
            <h1 class="main_title">Hvorfor Velge Gløde Butikken?</h1>
            <div class="splashPosition">
                <img class="imgSplash" src="/Assets/LandingPage/Splash2.jpg" alt="Bilde av masse laptoper i butikkhyllen">
            </div>

            <div class="slide">
                    <!--tenkte vi kan gjøre sån at det slider bytter på paragrafer -->
                <p class="anim-1 text">Alle våre IKT produkter har fått en grundig gjenomgang før de blir lagt ut for salg</p>
                <p class="anim-2 text">Miljøbevisst, det er viktig at vi tar vare på miljøet og gjenbruker brukt IKT utstyr</p>
                <p class="anim-3 text">GlødeButikken har gunstige  priser og Rask levering</p>
            </div>

                <!--infomasjon og salg -->
            <div class="textImgPosition">
                <div class="iTextWbtn">
                <div class="infoText">
                    <h2 class="h1LP">Brukt IKT</h2>
                    <h3 class="h3LP">salg av laptoper, stasjonære datamaskiner, skjermer.</h3>
                    <p class="pLP">Gratis frakt ved kjøp over NOK 2.500,-.
                        - Forutsetter vekt under 20 kilo - </p>
                    <p class="pLP">Gløde har egen butikk og “klikk og hent” på Mjåtveitflaten 35 </p>
                    <p class="pLP">Åpningstider: Alle hverdager 08.00 - 15:00</p>
                </div>

                <button class="btn" id="button"><a class="btnProduct" href="/Pages/ProductList/indexPl.html">Se produkter</a></button>
                <!-- above is placeholderlink, Sandra Fix-->

                </div>
                <div>
                <img class="leftImg" src="/Assets/LandingPage/Desk1.jpg" alt="Bilde av skranken i Gløde Data Butikken">
                </div>
            </div>
        </section>
        <section class="aboutInfo">
            <!--Henter relevant tekst fra Om Oss siden -->
            <h1 class="titleHeader">OM OSS</h1>
<!-- Fix styling, hent fra indexAbout.css -->
            <div class="genInfo">
                <h4 class="h4About">- Hvordan foregår dette?</h4>
                <p>Dette er ei bedrift som tilbyr arbeid til personar som treng tilrettelagt arbeid. 
                  Gløde tilbyr i tillegg arbeidstrening,
                </p>
                <p>avklaring og tiltak som skal hjelpa personar ut i ordinært arbeid. 
                  Vårt hovudformål og samfunnsoppdrag er å gje gode tilbod til våre deltakarar 
                  gjennom ulike tiltak.
                </p>
                <p>Eit resultat av dette er at me produserer ei rekke med ulike 
                    flotte produkt og tenester som vi ynskjer å gjere lettare tilgjengeleg for alle 
                    potensielle kundar.
                </p>
                <p>Difor har me starta nettbutikk med meining. Butikken 
                      er organisatorisk lagt inn under Gløde Arbeidsinkludering (org. 928 131 157)
                </p>
                <p>Vekstbedrifter er ein samlebetegnelse for bedrifter som er med i 
                  arbeidsgjevarorganisasjonen ASVL.</p>
                <div>Nettbutikken vil også vere ein viktig og god treningsarena for deltakarar 
                  i tiltak.</div>
                <div>Vårt mål er at butikken skal:</div>
                <div class="olOM">
                  <ol>
                    <li>Vera brukarvennleg</li>
                    <li>Vera lett tilgjengeleg og alltid open</li>
                    <li>Yta god service</li>
                    <li>Sikra rask ordrehandtering.</li>
                    <li>Vera trygg å handla i</li>
                    <li>Gje meiningsfull arbeidstrening.</li>
                    <li>Auke omsetninga av våre produkt</li>
                  </ol>
                </div>
                <div>Me er opptatt av bærekraft og vil så langt som mogleg ta omsyn til dette i 
                  val av emballasje, transport og i produksjon av våre varer og tenester.</div>
              </div>
          </section>
        </section>
    </main>
</body>
</html>