<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleSearch.css"/>
    <title></title>
</head>
<body>
    <section class="gallery">
        <!-- Additional elements and content specific to the article -->
        <article class="content posiFrame">
            <!--Bytt bilde og beskrivelse-->
            <img class="imgPL" src="/Assets/ProductImg/DELL_PRECISION_T3600_WorkStation_med_OS_Linux.webp" alt="">
            <h3 class="h3PL">DELL PRECISION T3600 WorkStation</h3>
            <p class="pPL">23 GB DDR3 RAM</p>
            <h5 class="h5PL">kr 1,800.00</h5>
            <button class="show_more">Vis</button>
        </article>
    </section>
</body>
</html>