<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleSearch.css"/>
    <title></title>
</head>
<body>
    <section class="gallery">
        <!-- Additional elements and content specific to the article -->
        <article class="content posiFrame">
            <!--Bytt bilde og beskrivelse-->
            <img class="imgPL" src="%%ProduktBilde%%" alt="">
            <h3 class="h3PL">%%ProduktNavn%%</h3>
            <p class="pPL">%%ProduktInfo%%</p>
            <h5 class="h5PL">%%ProduktPris%%</h5>
            <a href=""><button class="show_more">Vis</button></a>
        </article>
    </section>
</body>
</html>