<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/styleSearch.css"/>
    <script src="/templates/scriptSearch.js" defer></script>
    <title>Produkter</title>
</head>
<body class="SP-body">
    <main class="SP-main">
        <button onclick="toggleLayout()" class="gridButton"><img class="gridImg" src="/Assets/Icons/list.png" alt=""></button>

            <!--STasjonære pc-->
        <div class="divContainProducts">
            <section class="gallery">
                <!--link til produkte-->
              <a class="prodLink" href="">
                <!-- Additional elements and content specific to the article -->
                <article class="content"> 
                            <!--Bytt bilde og beskrivelse-->
                  <img class="imgPL" src="/Assets/ProductImg/Dell_OptiPlex_3040_Mikro_PC.webp" alt="">
                  <h3 class="h3PL">Dell OptiPlex 3040 Mikro PC</h3>
                  <p class="pPL">16gb RAM</p>
                  <h5 class="h5PL">kr2,100.00</h5>
                  <a href=""><button class="show_more">Vis</button></a>
                  <!-- Mulig vi vil at det skal være link rundt hele elementet slik at man blir sendt videre til
                    produktsiden uansett hvor man trykker? -->
                </article>
              </a>
            </section>
          
            
            <section class="gallery">
                <!-- Additional elements and content specific to the article -->
                <article class="content">
                    <!--Bytt bilde og beskrivelse-->
                    <img class="imgPL" src="/Assets/ProductImg/ Optiplex 3050 Micro PC.webp" alt="">
                    <h3 class="h3PL">HP EliteDesk 705 G2</h3>
                    <p class="pPL">16 gb RAM</p>
                    <h5 class="h5PL">kr 800.00</h5>
                    <a href=""><button class="show_more">Vis</button></a>
                </article>
            </section>
  
            
            <section class="gallery">
                <!-- Additional elements and content specific to the article -->
                <article class="content">
                    <!--Bytt bilde og beskrivelse-->
                    <img class="imgPL" src="%%Bilde%%" alt="">
                    <h3 class="h3PL">Lenovo ThinkCentre M910q mikro</h3>
                    <p class="pPL">D8 gb RAM</p>
                    <h5 class="h5PL">kr 2,100.00</h5>
                    <a href=""><button class="show_more">Vis</button></a>
                </article>
            </section>
  
            
            <section class="gallery">
                <!-- Additional elements and content specific to the article -->
                <article class="content">
                    <!--Bytt bilde og beskrivelse-->
                    <img class="imgPL" src="%%Bilde%%" alt="">
                    <h3 class="h3PL">DELL PRECISION T3600 WorkStation</h3>
                    <p class="pPL">23 GB DDR3 RAM</p>
                    <h5 class="h5PL">kr 1,800.00</h5>
                    <a href=""><button class="show_more">Vis</button></a>
                </article>
            </section>
  
            
            <section class="gallery">
                <!-- Additional elements and content specific to the article -->
                <article class="content">
                    <!--Bytt bilde og beskrivelse-->
                    <img class="imgPL" src="%%Bilde%%" alt="">
                    <h3 class="h3PL">Lenovo ThinkCentre Edge</h3>
                    <p class="pPL">8 gb RAM</p>
                    <h5 class="h5PL">kr 800.00</h5>
                    <a href=""><button class="show_more">Vis</button></a>
                </article>
            </section>
  
            
            <section class="gallery">
                <!-- Additional elements and content specific to the article -->
                <article class="content">
                    <!--Bytt bilde og beskrivelse-->
                    <img class="imgPL" src="%%Bilde%%" alt="">
                    <h3 class="h3PL">Lenovo ThinkCentre M73 i5 micro PC</h3>
                    <p class="pPL">16 gb RAM</p>
                    <h5 class="h5PL">kr 1,750.00</h5>
                    <a href=""><button class="show_more">Vis</button></a>
                </article>
            </section>

            <section class="gallery">
                <!-- Additional elements and content specific to the article -->
                <article class="content">
                    <!--Bytt bilde og beskrivelse-->
                    <img class="imgPL" src="%%Bilde%%" alt="">
                    <h3 class="h3PL">Lenovo ThinkCentre M93p Micro PC</h3>
                    <p class="pPL">16 gb RAM</p>
                    <h5 class="h5PL">kr 2,100.00</h5>
                    <a href=""><button class="show_more">Vis</button></a>
                </article>
            </section>

            <section class="gallery">
                <!-- Additional elements and content specific to the article -->
                <article class="content">
                    <!--Bytt bilde og beskrivelse-->
                    <img class="imgPL" src="%%Bilde%%" alt="">
                    <h3 class="h3PL">Lenovo ThinkCentre M910q mikro PC</h3>
                    <p class="pPL">8 gb RAM</p>
                    <h5 class="h5PL">kr 2,100.00</h5>
                    <a href=""><button class="show_more">Vis</button></a>
                </article>
            </section>
        </div>
      </main>
</body>
</html>