<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleMini.css"/>
    <script src="scriptMini.js" defer></script> 
    <title></title></head>
<body>
    <section class="sectionmini" onclick="redirectToNewPage()">
        <article class="articlemini">
          <img class="imgmini" src="%%ProduktBilde%%" alt="Bilde av nedpriset produkt">
          <!--Prisen på produkte-->
          <div class="slashInfo">
            <h3 class="h3mini">%%ProduktPris%%</h3>
            <!--Namn på produkter-->
            <p class="pmini">%%ProduktNavn%%</p>
            
          </div>
          <button class="addToCart">
            <img class="CartIcon" src="" />
          </button>
        </article>
      </section>
</body>
</html>