<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleMini.css"/>
    <script src="scriptMini.js" defer></script> 
    <title></title></head>
<body>
    <section class="sectionmini">
        <article class="articlemini">
          <img class="imgmini" src="/Assets/ProductImg/Dell_Latitude.webp" alt="" onclick="redirectToNewPage()">
          <!--Prisen på produkte-->
          <div class="slashInfo">
            <h3 class="h3mini">kr 1,550.00</h3>
            <!--Namn på produkter-->
            <p class="pmini">Dell latitude</p>
        </div>
        </article>
      </section>
</body>
</html>