/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --mainOrange: #fb5607;
  --dropMenu: #808080;
  --textWhite: #ffffff;
  --mainBlack: #222222;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    min-height: 100vh;
  }

  .header-icon {
    margin-right: 10px;
  }
  
  .header-icon .imgLogo {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    /* border-radius: 50%; */
    /* background-color: #fb5607; */
  }

  /*Mini justering av logo i header - Polly*/
.imgLogo {
  margin-top: 5px;
}

/* LIGHT AND DARK MODE */
.mode-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  transition: .4s;
  height: 50px;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: .4s;
  content: url('https://api.iconify.design/material-symbols/dark-mode.svg');
}

.dark-mode .circle {
  transition: .4s;
  content: url('https://api.iconify.design/material-symbols/light-mode.svg');
}

.dark-mode {
  color: var(--textWhite);
  transition: .4s;
}  /*KOble til JS!!! - Polly*/

/* Styles for the logo in the navigation bar */
.navbar .logoHeader a {
  font-size: 30px;
  color: var(--textWhite);
  text-decoration: none;
  font-weight: 600;
}

  .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--mainOrange);
    color: var(--textWhite);
    margin-bottom: 70px; /*La til margin slik at det er lettere å navigere - Polly*/
  }

/* Styles for the fixed navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--mainOrange);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

/* Styles for the inner container of the navigation bar */
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}

/* Styles for the navigation links */
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

/* Styles for the list of navigation links */
nav .navbar .links {
  display: flex;
}

/* Styles for each navigation link item */
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

/* Styles for each navigation link anchor */
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--textWhite);
  font-size: 15px;
  font-weight: 500;
}

/* Styles for the arrow icons on hover */
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

/* Styles for the arrow icon in each navigation link */
nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: var(--textWhite);
  transition: all 0.3s ease;
}

/* Styles for sub-menus and their items */
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: gray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

/* Show sub-menus on hover */
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

/* Styles for sub-menu items */
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Styles for sub-menu anchor links */
.navbar .links li .sub-menu a {
  color: var(--textWhite);
  font-size: 15px;
  font-weight: 500;
}

/* Styles for the "More" sub-menu arrow */
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

/* Styles for "More" sub-menu */
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

/* Show "More" sub-menu on hover */
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

/* Styles for the sidebar logo on smaller screens */
.navbar .nav-links .sidebar-logo {
  display: none;
}

/* Styles for the menu icon on smaller screens */
.navbar .bx-menu {
  display: none;
}

.shoppingCart {
  width: 28px;
  height: 28px;
  cursor: pointer;
  }
  
  /*Kode fix av Amalie*/
  .shoppingCartButton {
    all: unset;
  }

/* Media query for screens with max-width 920px */
@media (max-width:920px) {
    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
  
    nav .navbar .logo a{
      font-size: 27px;
    }
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
  }
  @media (max-width:800px){
    /*nav {
      /* position: relative; 
      /*Sandra: Skal noe mer gjøres her?
    } */
    .navbar .bx-menu{
      display: block;
    }
  
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  var(--mainOrange);
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
  
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: var(--textWhite);
    }
    
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 25px;
        color: var(--textWhite);
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      display: flex;
      align-items: center;
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  } 
  }
  