.background {
    background-image: url('/GlodeButikken/Sikker\ Sletting\ nettside/images/background img for site.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
    height: 125%; /* Adjust as needed */
    width: 55%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* Set text color to be visible against the background */
}