/*Styling til Produkt Katalog*/
/*Kodet av Polly*/


/* Fargepallet - kodet av Tiril */
:root {
    /* LIGHT MODE */
    /* Main colors */
    --mainLightBackground: #f0fff0;
    --mainOrange: #fb5607;
    --dropMenu: #808080;
    --textWhite: #ffffff;
    --mainBlack: #222222;
    --footer: #333333;
    /* Produkt oversikt */
    --cardBackground: #f2f2f2;
    /* Produkt side */
    --boxBackground: #d4d4d4;
    --buttonShadow: 0 10px 20px -8px #000000;
  }

body {
    min-height: 100vh;
  }

main {
    display: unset;
    margin-top: 90px;
    margin-left: 40px;
    margin-right: 50px;
}

.onSale  {
    background-image: url(/Assets/tilbudTemp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    min-width: 300px;
    max-width: 1200px;
}

.popUpSaleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:80px;
    padding: 2em;
    border:1px solid grey;
    border-radius: 20%; 
    text-align: center;
    text-shadow: var(--footer);
    /*juster når resten av koden kommer på plass*/
}

.faCK {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50%
}

.imgSale {
    /* background-image: url(Assets/tilbudTemp.jpg);    */
    display: flex;
}

